@charset utf8;

@font-face{
    font-family: 'The110';
    font-style: normal;
    src: url('../fonts/The110.eot');
    src: local('☺'), url('../fonts/The110.woff') format('woff'), url('../fonts/The110.ttf') format('truetype');
}
@font-face{
    font-family: 'The120';
    font-style: normal;
    src: url('../fonts/The120.eot');
    src: local('☺'), url('../fonts/The120.woff') format('woff'), url('../fonts/The120.ttf') format('truetype');
}
@font-face{
    font-family: 'The130';
    font-style: normal;
    src: url('../fonts/The130.eot');
    src: local('☺'), url('../fonts/The130.woff') format('woff'), url('../fonts/The130.ttf') format('truetype');
}
@font-face{
    font-family: 'The140';
    font-style: normal;
    src: url('../fonts/The140.eot');
    src: local('☺'), url('../fonts/The140.woff') format('woff'), url('../fonts/The140.ttf') format('truetype');
}
@font-face{
    font-family: 'The150';
    font-style: normal;
    src: url('../fonts/The150.eot');
    src: local('☺'), url('../fonts/The150.woff') format('woff'), url('../fonts/The150.ttf') format('truetype');
}
@font-face{
    font-family: 'The160';
    font-style: normal;
    src: url('../fonts/The160.eot');
    src: local('☺'), url('../fonts/The160.woff') format('woff'), url('../fonts/The160.ttf') format('truetype');
}
@font-face{
    font-family: 'The170';
    font-style: normal;
    src: url('../fonts/The170.eot');
    src: local('☺'), url('../fonts/The170.woff') format('woff'), url('../fonts/The170.ttf') format('truetype');
}

@font-face{
    font-family: 'KoPubDotumLight';
    font-style: normal;
    src: url('../fonts/KoPubDotumLight.eot');
    src: local('☺'), url('../fonts/KoPubDotumLight.woff') format('woff'), url('../fonts/KoPubDotumLight.ttf') format('truetype');
}
@font-face{
    font-family: 'KoPubDotumMedium';
    font-style: normal;
    src: url('../fonts/KoPubDotumMedium.eot');
    src: local('☺'), url('../fonts/KoPubDotumMedium.woff') format('woff'), url('../fonts/KoPubDotumMedium.ttf') format('truetype');
}
@font-face{
    font-family: 'KoPubDotumBold';
    font-style: normal;
    src: url('../fonts/KoPubDotumBold.eot');
    src: local('☺'), url('../fonts/KoPubDotumBold.woff') format('woff'), url('../fonts/KoPubDotumBold.ttf') format('truetype');
}
@font-face{
    font-family: 'KoPubBatangLight';
    font-style: normal;
    src: url('../fonts/KoPubBatangLight.eot');
    src: local('☺'), url('../fonts/KoPubBatangLight.woff') format('woff'), url('../fonts/KoPubBatangLight.ttf') format('truetype');
}
@font-face{
    font-family: 'KoPubBatangMedium';
    font-style: normal;
    src: url('../fonts/KoPubBatangMedium.eot');
    src: local('☺'), url('../fonts/KoPubBatangMedium.woff') format('woff'), url('../fonts/KoPubBatangMedium.ttf') format('truetype');
}
@font-face{
    font-family: 'KoPubBatangBold';
    font-style: normal;
    src: url('../fonts/KoPubBatangBold.eot');
    src: local('☺'), url('../fonts/KoPubBatangBold.woff') format('woff'), url('../fonts/KoPubBatangBold.ttf') format('truetype');
}
